Label {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    -unity-text-outline-color: rgb(0, 0, 0);
}

#Screen {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
